@import "./reset.css";

.sections {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
}

.section {
    scroll-snap-align: start;
    width: 100vw;
    min-height: 100vh;
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    &.section--presentation {
        background-color: #FFE15C;
    }

    &.section--biography {
        background-color: #F5F5F5;
    }

    &.section--trajectory {
        background-color: #F5F5F5;
    }

    &.section--knowledge {
        background-color: #F5F5F5;
    }

    &.section--projects {
        background-color: #F5F5F5;
    }

    &.section--contact {
        background-color: #FFE15C;
    }
}

nav {
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    position: fixed;
    height: 5em;
    width: 100vw;
    padding: 0 1em;
    text-transform: uppercase;
}

nav a {
    font-weight: bolder;
    font-size: 4em;
    align-items: center;
}

ul li a {
    font-weight: lighter;
    font-size: 1em;
    margin: 9em 0.4em;
}

a {
    text-decoration: none;
    color: #000;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin-top: 0.4em;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFE15C;
}

::-webkit-scrollbar-track {
    background-color: #FFF;
}
